.placements {
    /* border: 2px solid red; */
    padding-left: 20px !important;
    /* height: 600px; */

}

.placements hr {
    width: 5%;
    margin: 1rem auto .5rem auto ;
    height: .18rem;
    background-color: #1976d2;
}

.placements .MuiGrid-container {
    width: 100% !important;
    /* border: 2px solid orange;  */
    margin: 0;
}

/* .placements .MuiGrid-container .MuiGrid-item
{
    border-radius: 0;
    width: 100%!important;
    border: 2px solid green!important;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: .5rem;

} */
.placements .slider-container {
    /* border: 2px  dotted pink; */
    width: 100%;
    /* overflow: visible !important; */
}

.placements .slick-slide {
    /* margin: 10px 1rem; */
    /* border: 5px  dotted blue; */
    padding-top:25px;
    margin-top:25px;
    /* overflow:  visible!important; */



}

/* the parent */
.placements .slick-list {
    /* margin: 0 -27px; */
}

.placements .slick-slide img {
    /* display: block!important; */
    /* width: 100%; */
    /* height: auto; */
}

/* .placements .MuiGrid-container
{
    padding: 0;
} */
.placements .MuiGrid-container .card {
    width: 94% !important;
    /* background-color: #032353; */
    box-shadow: none;
    /* color: white; */
    border-radius: .3rem;
    /* margin: 1rem; */
    margin-left: 8px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;



}


.placements .card-content {
    /* border: 2px solid brown; */
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #032353;
    border-radius: .3rem;
    height: 82%;
    text-align: center;
    position: relative;

}
.placements .card-content h6
{
    /* margin-top: 2rem; */
}
.placements .name-desig
{
    /* border: 2px solid rgb(240, 240, 237)!important; */
    margin-top: 2rem;
}
.placements .card-text
{
    width: 100%;
    /* border: 2px solid yellow!important; */
    display: flex !important;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 60%;
    position: relative;
    margin-top: 2rem;
}

.placements .MuiGrid-container .card .card-content>img {
    width: 5.5rem;
    /* height: 100%!important; */
    /* border: .1rem solid rgba(110, 110, 112, 0.61); */
    border-radius: 50%;
    position: absolute;
    top: -40px;
    /* box-shadow: 1px 1px 10px 1px #03235342; */
    /* margin-bottom: 2rem!important; */

}

.placements .card-content .card-text p {
    color: white;
    line-height: 1.3rem;
    text-align: justify;
    /* margin-top: 1rem; */
    font-size: .8rem;
    width: 100%;

}
.placements .card-content .company  img
{
    /* border: 2px solid rgb(255, 30, 0)!important; */
    width: 7rem;
    /* margin-top: 1rem; */
    /* display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    position: relative; */
    margin-top: .5rem;
}

/* .placements .card-content p:last-child::before {
    content: open-quote;
    font-size: 2.5rem;
}
.placements .card-content p:last-child::after {
    content: close-quote;
    font-size: 2.5rem;
} */
.placements .card svg {
    /* font-size: 1.2rem; */
    /* background-color: #1976d2; */
    /* color: white; */
    /* border-radius: 100%; */
    /* padding: 9px; */
}
.placements .slick-prev
{
    left: -50px;
}
.placements .slick-next
{
    right: -50px;
}
.placements .slick-next,.slick-prev
{
    height: 3rem;
    width: 3rem;
}


.placements .slick-prev:before, .slick-next:before
{
    font-size: 2rem;
    opacity: 1!important;
    color: rgba(5, 9, 63, 0.493);
}

/* ? media quries */
/* Custom, iPhone Retina */
@media (min-width:320px) and (max-width:479.98px) {
    .placements {
        /* padding: 0!important; */
        margin-left: 0 !important;
        margin-right: 0 !important;

    }

    /* .placements .MuiGrid-container .MuiGrid-item
            {
                padding: .8rem 1.6rem;
            } */


    .placements .MuiGrid-container .card {
        box-shadow: none !important;
        /* border: none; */
        /* width: 364px!important; */
        margin-left: 8px;
        box-shadow: 0px 2px 15px rgba(156, 156, 156, 0.137) !important;

    }

}

/* Extra Small Devices, Phones */
@media (min-width: 480px) and (max-width: 575.98px) {}

/* Small Devices, Tablets */
@media (min-width: 576px) and (max-width:767.98px) {}

/* Medium Devices, Desktops */

@media (min-width: 768px) and (max-width:991.98px) {

    .placements .card-content {
        /* opacity: 0; */
    }


}

/* Large Devices, Wide Screens */

@media (min-width: 992px) and (max-width:1200px) {}