.banner
{
    /* border: 2px solid red; */
    /* height: 100vh; */
    margin-top: 4rem;
}
.banner .MuiGrid-container
{
    /* height: 100%; */
    /* border: 2px solid blue; */

}


.banner .MuiGrid-item 
{
    /* border: 2px solid blue; */
    /* height: 100%; */
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
}
.banner .MuiGrid-item .grid-content-box
{
    /* border: 2px solid hotpink; */
    height: 100%!important;

}
.banner .banner-image
{
    /* border: 2px solid green; */
     display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.banner .banner-image:hover
{
    transform: rotate(360deg);
}
.banner .MuiGrid-item .grid-content-box img
{
    
    width: 80%;
    /* height: 100%; */
    /* transform: rotatex(360deg); */
    /* border:2px solid red */
}

.banner-content-btns a
{
    color: #ffffff;
    font-size: 1.5rem;
}



/* .banner-content-btns button:active
{
    background: #3a66c4!important;
} */


/* ? media quries */
        /* Custom, iPhone Retina */ 
        @media (min-width:320px) and  (max-width:479.98px) {
            .banner
            {
                margin: 2rem!important;
                margin-top: 4rem!important;
            }
            .banner .MuiGrid-item .grid-content-box h2
            {
                font-size: 2.3rem!important;
                text-align: center;
            }
            .banner .MuiGrid-item .grid-content-box h4
            {
                font-size: 1.4rem;
                text-align: center;
            }
            .banner .MuiGrid-item .grid-content-box p
            {
                font-size: 1rem;
                text-align: center;
                line-height: 1.2rem;
            }
            .banner .banner-content-btns
            {
                text-align: center;
            }

            .banner .banner-image
            {
                margin-top: 2rem;
            }
            .banner .banner-content-btns button
            {
                border-radius: 30px!important

            }

        }
/* Extra Small Devices, Phones */ 
        @media (min-width: 480px) and (max-width: 575.98px) {

            
        }
/* Small Devices, Tablets */
        @media (min-width: 576px) and (max-width:767.98px) {

            
        }
/* Medium Devices, Desktops */
        
        @media (min-width: 768px) and (max-width:991.98px ) {

            .footer
            {
               padding-bottom: 20px;
            }
            .footer .grid-item:not(:last-child)
            {
                border-bottom: 1px solid #bcb4b4;
                padding-bottom: 10px;
                justify-content: space-around;
            }
            .footer .grid-content-box
            {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .footer .links li
            {
                display: inline-block;
                text-align: center;
            }

        }

        /* Large Devices, Wide Screens */

        @media (min-width: 992px) and (max-width:1200px ) {

           
        }