.floating-icons
{
    /* border: 2px solid red; */
    padding: 0.3rem;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.floating-icons .whatsapp
{
    color: green;
    border-radius: 100%;
    padding: 0.1rem;
    cursor: pointer;
    animation: whatsapp 1s linear 2s infinite alternate;

}

.floating-icons .call
{
    color: blue;
    border-radius: 100%;
    margin-top: 1rem;
    padding: 0.1rem;
    cursor: pointer;
    animation: call 1s linear 2s infinite alternate;

}
.floating-icons .arrow
{
    color: white;
    margin-top: 1rem;
    padding: 0.1rem;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(5, 5, 77);
}



@keyframes whatsapp
{
    0% {transform:scale(1.1)}
    25% {transform:scale(1.3)}
    75% {transform:scale(1.1)}
    100% {transform:scale(1.3)}
}

@keyframes call
{
    0% {transform:scale(1.1)}
    25% {transform:scale(1.3)}
    75% {transform:scale(1.1)}
    100% {transform:scale(1.3)}
}

/* ? media quries */
        /* Custom, iPhone Retina */ 
        @media (min-width:320px) and  (max-width:479.98px) {
            .floating-icons
            {
                right: 0;
            }
            .floating-icons .whatsapp,.floating-icons .call,.floating-icons .arrow
            {
                /* font-size: 1.4rem; */
                /* background-color: transparent!important; */
            }
            .floating-icons .call
            {
                margin-bottom: 2rem;
            }

            .floating-icons .arrow
            {
                display: none!important;
            }

          

        }
/* Extra Small Devices, Phones */ 
        @media (min-width: 480px) and (max-width: 575.98px) {

            
        }
/* Small Devices, Tablets */
        @media (min-width: 576px) and (max-width:767.98px) {

            
        }
/* Medium Devices, Desktops */
        
        @media (min-width: 768px) and (max-width:991.98px ) {

           

        }

        /* Large Devices, Wide Screens */

        @media (min-width: 992px) and (max-width:1200px ) {

           
        }